# Docker 내부에서도 무시
docker-compose*.yml
Dockerfile
.dockerignore
# Node.js 의존성 폴더
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
# 빌드 결과물
build
dist
# 환경 설정
.env
# 운영체제나 IDE 관련
.DS_Store
# Git
.git
.gitignore